body, html {
  overflow-x: hidden;
}

.footer {
  background-color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 3rem;
}

.topLogo {
  width: 20rem;
}

.arrowDown {
  width: 10rem;
}

@media (max-width: 320px) {
  .topLogo {
    width: 15rem;
  }
}
@media (max-width: 1000px) {
  .footer {
    text-align: center;
  }
}
.modal-header {
  border-bottom: 2px solid #000;
}

.modal-footer {
  border: none;
}

.container01 {
  background-image: url("../src/imgs/home/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container02 {
  background-image: url("../src/imgs/home/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 9rem;
}

.container03 {
  background-image: url("../src/videos/02.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 9rem;
}

.container04 {
  background-image: url("../src/imgs/home/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 9rem;
}

body {
  overflow-x: hidden;
}

.container05 {
  background-image: url("../src/imgs/falcon9/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.main-title {
  font-size: 5rem;
  font-weight: bold;
}

.container06 {
  background-image: url("../src/imgs/falcon9/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.container06 .number {
  font-size: 90px;
  margin: 0 8rem;
}
.container06 .text {
  width: 50rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.content-table {
  width: 47rem;
  padding: 6.5rem 8rem;
  margin: 3.3rem;
}

.container07 {
  background-image: url("../src/imgs/falcon9/08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.carouselSlide img {
  height: 100vh;
}
.carouselSlide .carouselCaption {
  background-color: #000;
}

.container08 {
  background-color: #000;
  min-height: 85vh;
  padding-top: 20rem;
}

.container09 {
  background-image: url("../src/imgs/humanSpaceFlight/01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.container09 .main-title {
  padding-top: 12rem;
  font-size: 8rem;
}
.container09 .main-description {
  font-size: 2rem;
}

.container10 {
  background-color: #000;
}
.container10 .earth-desc {
  font-size: 1.5rem;
  width: 55rem;
}

.right-content {
  padding-left: 48%;
  padding-top: 18%;
}

.left-content {
  padding-left: 10%;
  padding-top: 18%;
}

.content-title {
  font-size: 4rem;
  font-weight: bold;
}

.container11 {
  background-image: url("../src/imgs/humanSpaceFlight/02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container12 {
  background-image: url("../src/imgs/humanSpaceFlight/03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container13 {
  background-image: url("../src/imgs/humanSpaceFlight/04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container14 {
  background-image: url("../src/imgs/humanSpaceFlight/05.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container15 {
  background-color: #000;
  min-height: 85vh;
  padding-top: 20rem;
}

/*# sourceMappingURL=style.css.map */
